<% @title = 'Admin' %>


<%= link_to 'Home', root_path %>/
<%= link_to 'Admin', admin_path %>

<%= render '/shared/flash', flash: flash %>

<h2>Administration</h2>

<table>
	<tr>
		<th>Gestion utilisateurs</th>
		<td><%= link_to "Utilisateurs", admin_users_path %></td>
	</tr>
	<tr>
		<th>Pages du site</th>
		<td><%= link_to "Contenu du site", admin_pages_path %></td>
	</tr>
	<tr>
		<th>Les news</th>
		<td><%= link_to "News", admin_news_path %></td>
	</tr>
	<tr>
		<th>Le programme</th>
		<td><%= link_to "Programme", admin_events_path %></td>
	</tr>
	<tr>
		<th>La galerie photos</th>
		<td><%= link_to "Galleries", admin_galleries_path %></td>
	</tr>
	<tr>
		<th>Les projets</th>
		<td><%= link_to "Projets", admin_projects_path %></td>
	</tr>
</table>

<p style="text-align:right"><img src="assets/admin/way_admin.png"/></p>
