<h1>Editer une page</h1>

<%= form_for [:admin, @page] do |f| %>

	<%= render 'shared/error_messages', object: f.object %>

	<ul>
		<li>
			<%= f.label :title %>
			<%= f.text_field :title %></br>
		</li>
		<li>
			<%= f.label :content %>
			<%= f.text_area :content, size: "20x10" %>
		</li>
	</ul>

	<ul><li><%= f.submit %></li></ul>

<% end %>