<%= link_to 'Home', root_path %>/
<%= link_to 'Admin', admin_path %>/
<%= link_to 'Pages', admin_pages_path %>/
<%= link_to 'Editer', edit_admin_page_path(@page) %>

<h1>Editer un contenu:</h1>

<%= form_for [:admin, @page] do |f| %>

	<%= render 'shared/error_messages', object: f.object %>

	<table>
		<tr>
			<td><%= f.label :title %></td>
			<td><%= f.text_field :title %></br></td>
		</tr>
		<tr>
			<td><%= f.label :content %></td>
			<td><%= f.text_area :content %></td>
		</tr>
	</table>

	<table><tr><td>Editer la page</td><td><%= f.submit "Enregistrer les modifications", class: 'w8-button l-blue' %></td></tr></table>

<% end %>