<%= link_to 'Home', root_path %>/
<%= link_to 'Admin', admin_path %>/
<%= link_to 'Galleries', admin_galleries_path %>/
<%= link_to 'Editer', edit_admin_gallery_path(@gallery.id) %>

<%= render '/shared/flash', flash: flash %>

<h2><%= @gallery.name %></h1>

<p><%= link_to "Ajouter des images", new_admin_gallery_painting_path(@gallery.id) %></p>

<%= form_for @gallery, url: admin_gallery_path(@gallery.id) do |f| %>

	<%= render 'fields', f: f %>

	<%= f.submit 'Editer' %>

<% end %>

<% @gallery.paintings.each do |painting| %>

	<img src="<%= painting.image_url(:thumb) %>" />
	<%= link_to "X", admin_gallery_painting_path(@gallery.id, painting), method: :delete, confirm: "Etes-vous sûr de vouloir supprimer cette image?" %>

<% end %>