<h1><%= @gallery.name %></h1>

<%= link_to "Ajouter des images", new_admin_gallery_painting_path(@gallery.id) %>

<%= render 'form' %>

<table>
	<tr>
		<td>Supprimer des images</td>
		<td>
			<% @gallery.paintings.each do |painting| %>
				<img src="<%= painting.image_url(:thumb) %>" />
				<%= link_to "X", admin_gallery_painting_path(@gallery.id, painting), method: :delete, confirm: "Etes-vous sûr de vouloir supprimer cette image?" %>
			<% end %>
		</td>
	</td>
</table>