<% @title = 'Admin' %>

<%= link_to 'Home', root_path %>/
<%= link_to 'Admin', admin_path %>/
<%= link_to 'Galleries', admin_galleries_path %>

<%= render '/shared/flash', flash: flash %>

<h1>Galleries:</h1>

<p><%= link_to "Ajouter une gallerie", new_admin_gallery_path %></p>

<h2>Galleries:</h2>

<%= render partial: "shared/admin_render", locals: { arrayi: @galleries} %>

