<%= render 'shared/error_messages', object: f.object %>

<table>
	<tr>
		<td><%= f.label :first_name %></td>
		<td><%= f.text_field :first_name %></td>
	</tr>
	<tr>
		<td><%= f.label :last_name %></td>
		<td><%= f.text_field :last_name %></td>
	</tr>
	<tr>
		<td><%= f.label :adress %></td>
		<td><%= f.text_field :adress %></td>
	</tr>
	<tr>
		<td><%= f.label :phone %></td>
		<td><%= f.text_field :phone %></td>
	</tr>
	<tr>
		<td><%= f.label :email %></td>
		<td><%= f.text_field :email %></td>
	</tr>
</table>