<%= link_to 'Home', root_path %>/
<%= link_to 'Admin', admin_path %>/
<%= link_to 'Membres', admin_members_path %>/
<%= link_to 'Editer', edit_admin_member_path %>

<h1>Editer un membre</h1>

<%= form_for [:admin, @member] do |f| %>

	<%= render 'fields', f: f %>

	<table><tr><td>Editer le membre</td><td><%= f.submit "Ajouter", class: "w8-button l-blue" %></td></tr></table>

<% end %>