<%= render 'shared/error_messages', object: f.object %>

<table>
	<tr>
		<td><%= f.label :type_events_id %></td>
		<td><%= f.collection_select(:type_events_id, TypeEvents.all, :id, :name) %></td>
	</tr>
	<tr>
		<td><%= f.label :theme %></td>
		<td><%= f.text_field :theme %></td>
	</tr>
	<tr>
		<td><%= f.label :president %></td>
		<td><%= f.text_field :president %></td>
	</tr>
	<tr>
		<td><%= f.label :info %></td>
		<td><%= f.text_area(:info, size: '40x10') %></td>
	</tr>
	<tr>
		<td><%= f.label :remarque %></td>
		<td><%= f.text_field :remarque %></td>
	</tr>
	<tr>
		<td><%= f.label :orateur %></td>
		<td><%= f.text_field :orateur %></td>
	</tr>
	<tr>
		<td><%= f.label :date %></td>
		<td><%= f.date_select(:date, order: [:day, :month, :year]) %></td>
	</tr>
	<tr>
		<td><%= f.label :slug %></td>
		<td><%= f.text_field :slug %></td>
	</tr>
</table>












