<% @title = 'Admin' %>

<%= link_to 'Home', root_path %>/
<%= link_to 'Admin', admin_path %>/
<%= link_to 'Programme', admin_events_path %>/
<%= link_to 'Editer', edit_admin_event_path(@event) %>

<%= render '/shared/flash', flash: flash %>

<h1>Editer un événement</h1>

<%= form_for [:admin, @event] do |f| %>

	<%= render 'fields', f: f %>


	<% if @event.image_id? %>
	<table>
		<tr>
			<td><label>Image</label></td>
			<td><%= image_tag Image.find(@event.image_id).image.url %></td>
		</tr>
		<tr>
			<td><%= f.label :image_id, "Supprimer l'image" %></td>
			<td><%= f.radio_button :image_id, "" %></td>
		</tr>
	<% end %>

	<%= render 'images', f: f %>

	<table><tr><td>Editer l'event</td><td><%= f.submit "Enregistrer les modifications", class: 'w8-button l-blue' %></td></tr></table>
	
<% end %>

<%= render 'shared/upload' %>