<%= link_to 'Home', root_path %>/
<%= link_to 'Admin', admin_path %>/
<%= link_to 'Programme', admin_events_path %>

<%= render '/shared/flash', flash: flash %>

<h1>Programme:</h1>

<p><%= link_to "Ajouter un événement", new_admin_event_path, class: "w8-button red"%></p>

<h2>Programme</h2>

<%= render partial: "shared/admin_render", locals: { arrayi: @events} %>