<% @title = 'Admin' %>

<%= link_to 'Home', root_path %>/
<%= link_to 'Admin', admin_path %>/
<%= link_to 'Programme', admin_events_path %>/
<%= link_to 'Nouveau', new_admin_event_path %>

<h1>Ajouter un événement</h1>

<%= form_for [:admin, @event] do |f| %>

	<%= render 'fields', f: f %>

	<%= f.submit "Ajouter" %>
	
<% end %>