<% @title = 'Admin' %>

<%= link_to 'Home', root_path %>/
<%= link_to 'Admin', admin_path %>/
<%= link_to 'News', admin_news_path %>

<%= render '/shared/flash', flash: flash %>

<h1>News:</h1>

<p><%= link_to "Ajouter une new", new_admin_new_path %>

<h2>News</h2>

<%= render partial: "shared/admin_render", locals: { arrayi: @news} %>