<% @title = 'Admin' %>

<%= link_to 'Home', root_path %>/
<%= link_to 'Admin', admin_path %>/
<%= link_to 'Utilisateurs', users_path %>

<h1>Utilisateurs:</h1>

<p>
	<%= link_to "Ajouter un utilisateur", new_user_path %>
</p>
<p>
	<%= link_to "Editer mon profile", edit_user_path(@current_user) %>
<p>

<ul>
<% @users.each do |user| %>
	<li>
		<%= user.name %>

		<% if !current_user?(user) %>
			<%= link_to "supprimer", user_path(user), method: :delete, confirm: "Etes-vous sûr ?" %>
		<% end %>
	</li>
<% end %>
</ul>