<% @title = 'Admin' %>

<%= link_to 'Home', root_path %>/
<%= link_to 'Admin', admin_path %>/
<%= link_to 'News', news_path %>/
<%= link_to 'Nouveau', new_user_path %>

<h1>Ajouter un admin:</h1>

<%= form_for(@user) do |f| %>

	<%= render 'fields', f: f %>
	
	<%= f.submit "Ajouter" %>

<% end %>