<table>
	<% if arrayi.empty? %>
	<tr>
		<td>Pas d'entrées à afficher</td>
	</tr>
	<% else %>

		<tr>
		<% arrayi[0].attributes.each do |attr_name, attr_value| %>
			<th><%= attr_name %></th>
		<% end %>
			<th>>></th>
			<th>X</th>
		</tr>

		<% arrayi.each do |obj| %>
		<tr class="<%= cycle('even', 'odd') -%>">
				<% obj.attributes.each do |attr_name, attr_value| %>
				
				<% begin %>
					<% attr_value.strftime('%d-%m-%y') %>
					<td style="min-width:60px"><%= attr_value.strftime('%d-%m-%y') %></td>

				<% rescue %>

					<td><%= shorti_text(attr_value, 40) %></td>

				<% end %>

			<% end %>
			<td><%= link_to ">>", edit_admin_event_path(obj) %></td>
			<td><%= link_to "x", admin_event_path(obj), method: :delete, confirm: "Etes-vous sûr de vouloir supprimer cet événement?" %></td>
		</tr>
		<% end %>
	<% end %>
	<table>
		<tr><td><%= will_paginate(@arrayi, previous_label: 'Précédent', next_label: 'Suivant') %></td></tr>
	</table>
</table>
