
<%= form_for Image.new, url: admin_images_path do |f| %>
<table>
	<tr>
		<td>Ajouter une image à la bibliothèque</td>
		<td style="color:red; font-weight:bold"><%= render '/shared/flash', flash: flash %></td>
	</td>
	<tr>
		<td>Image</td>
		<td><%= f.label :image %></td>
	</tr>
	<tr>
		<td>Choisir une image</td>
		<td><%= f.file_field :image %></td>
	</tr>
	<tr>
		<td>Téléverser</td>
		<td><%= f.submit "Téléverser" %></td>
	</tr>
</table>
<% end %>