<% @title = 'Admin' %>

<%= link_to 'Home', root_path %>/
<%= link_to 'Admin', admin_path %>/
<%= link_to 'Programme', admin_programme_path %>

<%= render '/shared/flash', flash: flash %>

<h1>Programme:</h1>

<p><%= link_to "Ajouter un événement", new_event_path %>

<ul>
<% @events.each do |event| %>
	<li>
		<%= event.type_soiree %>
		<%= event.theme %>
		<%= event.info %>
		<%= event.president %>
		<%= event.remarque %>
		<%= event.orateur %>
		<%= event.minigroup %>
		<%= event.date %>
		<%= link_to "Modifier", edit_event_path(event) %>
		| <%= link_to "Supprimer", event_path(event), method: :delete, confirm: "Etes-vous sûr de vouloir supprimser cet événement?" %>
	</li>
<% end %>
<ul>