<% provide(:title, 'Programme GDJ Bulle chrétien') %>
<% provide(:h1_title, 'Programme soirées GPS actu extra culte event inter-gdj youth horaire Groupe de jeunes WAY Bulle') %>

<%# Return the end date of timeline. First test if not nil, second test if the date is not too close. In this case, return the date after 10 days %>
<% if @events.any? %>
<% last_date = @events.last.date? ? (@events.last.date < Date.today + 10.day ? Date.today + 10.day : @events.last.date) : Date.today + 10.day %>

<h2 style="text-align:center">Programme actuel </h2>

<article>
	<p> 
    Sur cette page tu découvriras notre programme complet des semaines à venir! 
    <br /><br />
  </p>

<div id="content">

		<%-# ==========- Title -========== -%>
    <div class="title" style="width:90%; margin:auto">
      <div class="left">
        <p><span class="discret">du </span><%= french_date_short(Date.today) %></p>
      </div>
      <div class="right">
        <p><span class="discret">au </span><%= french_date_short(last_date) %></p>
      </div>
    </div>

    <div class="clear"></div>

    <%-# ==========- Table with loop iteration over days for timeline -========== -%>
    <table id="timeline">

    	<%-# ==========- First row -========== -%>
    	<tr class="marker">
	    	<% (Date.today..last_date).each do |day| %>
	    		<td>
	    			<% if ((event = match_event(day)) != nil) %>														                <!-- to check if it matches -->		
	    					<%= link_to(image_tag("timeline/" + sort_event(event) , :class => day.day.to_s + ' b'), "#" + day.day.to_s) %>		<!-- to display image  depending on the event.type -->
	    			<% end %>
	    		</td>
	    	<% end %>
    	</tr>

    	<%-# ==========- Second row -========== -%>
    	<tr class="date">
	    	<% (Date.today..((last_date) < (date2=Date.today + 10.day) ? date2 : last_date)).each do |day| %>                    
		    		<td class="<%= day.strftime('%w').to_f == 6 || day.strftime('%w').to_f == 0 ? "weekend " : "" %><%= (day == Date.today) ? 'today ' : '' %> ">
              <%= day.day %>
            </td>
	    	<% end %>
    	</tr>

  	</table>

    <%-# ==========- Table with loop iteration over days for summary -========== -%>
    <p class="subtitle">Les prochaines rencontres</p>

      <table id="summary_timeline">

        <% @events.each_with_index do |event, index| %>

          <tr class="<%= 'a ' + event.date.day.to_s + 'a' %>">
            <td class="countdown"><span class="anchor" id="<%= event.date.day.to_s %>"></span><%= Date.today == event.date ? "Aujourd'hui!" : Date.today == event.date-1.day ? "Demain!" : "Dans "+time_ago_in_words(event.date) %></td>
            <td class="marker"><%= image_tag "timeline/" + sort_event(event) %></td>
            <td class="<%= event.date.strftime('%w').to_f == 6 || event.date.strftime('%w').to_f == 0 ? "weekend" : "number" %>"><%= event.date.day %></td>
            <td class="description">
              <div><a class="toggle_trigger <%= index == 0 ? "active" : ""%>"><%= event.theme %></a></div>
              <div class="<%= index == 0 ? "toggle_now" : "toggle_wrap" %>">
                <p>
                  <% # .gsub(/(?:\n\r?|\r\n?)/, '<br>') %>
                  <%= event.image_id? ? image_tag(Image.find(event.image_id).image.url) : "" %>
                  <%= raw simple_format(event.info, {}, sanitize: false) %>
                  <span class="perma_link">permalink: <%= link_to "event n° #{event.id}", event_path(event) %></span>
                </p>
              </div>
            </td>
          </tr>

        <% end %>

      </table>

      <div id="informations">
        <p>Rencontre warrior. Clique ici ou sur le titre en bas pour pour plus d'infos.</p>
      </div>

</div>

<% else %>
<p> Pas d'événents agendés. </p>
<% end %>

<p><br /><br /><br /><br /><br />
 <b>L'horaire officiel :</b> <br />
      Ouverture des locaux : 19h30 <br />
      Début de la soirée : 20h00 <br />
      Fin de la soirée : 21h30 <br />
      Vidage des locaux : 23h30 <br />
      <br />
      Remarque : <b>Il en va de la responsabilité de chaque parent de venir chercher leur(s) enfant(s) entre 21h30 et 23h30</b>. Au plus tard à 23h30, chaque enfant doit en effet être à nouveau sous la responsabilité de ses parents. <br />
      <br /><br /><br /><br /><br />
    </p>