<% provide(:title, 'Programme') %>
<% provide(:h1_title, 'Programme soirées GPS actu extra culte event inter-gdj youth horaire Groupe de jeunes WAY Bulle') %>

<%# Return the end date of timeline. First test if not nil, second test if the date is not too close. In this case, return the date after 10 days %>
<% last_date = @events.last.date? ? (@events.last.date < Date.today + 10.day ? Date.today + 10.day : @events.last.date) : Date.today + 10.day %>

<h2 style="text-align:center">Programme actuel </h2>

<article>
	<p> 
    Sur cette page tu découvrira notre programme mais aussi l'organisation de nos soirées. Tu verras, nous sommes organisés en différents types de soirées, il y en a pour tous les goûts! 
    <br /><br />
    <br /><br />
  </p>

<div id="content">

		<%-# ==========- Title -========== -%>
    <div class="title" style="width:90%; margin:auto">
      <div class="left">
        <p><span class="discret">du </span><%= french_date_short(Date.today) %></p>
      </div>
      <div class="right">
        <p><span class="discret">au </span><%= french_date_short(last_date) %></p>
      </div>
    </div>

    <%-# ==========- Table with loop iteration over days for timeline -========== -%>
    <table id="timeline">

    	<%-# ==========- First row -========== -%>
    	<tr class="marker">
	    	<% (Date.today..last_date).each do |day| %>
	    		<td>
	    			<% if ((event = match_event(day)) != nil) %>														                <!-- to check if it matches -->		
	    					<%= image_tag "timeline/" + sort_event(event) , :class => day.day.to_s + ' b' %>		<!-- to display image  depending on the event.type -->
	    			<% end %>
	    		</td>
	    	<% end %>
    	</tr>

    	<%-# ==========- Second row -========== -%>
    	<tr class="date">
	    	<% (Date.today..((last_date) < (date2=Date.today + 10.day) ? date2 : last_date)).each do |day| %>                    
		    		<td class="<%= day.strftime('%w').to_f == 6 || day.strftime('%w').to_f == 0 ? "weekend " : "" %><%= (day == Date.today) ? 'today ' : '' %> ">
              <%= day.day %>
            </td>
	    	<% end %>
    	</tr>

  	</table>

    <%-# ==========- Table with loop iteration over days for summary -========== -%>
    <p class="subtitle">Les prochaines rencontres</p>

      <table id="summary_timeline">

        <% @events.each_with_index do |event, index| %>

          <tr class="<%= 'a ' + event.date.day.to_s + 'a' %>">
            <td class="countdown"><%= Date.today == event.date ? "Aujourd'hui!" : "Dans "+time_ago_in_words(event.date) %></td>
            <td class="marker"><%= image_tag "timeline/" + sort_event(event) %></td>
            <td class="<%= event.date.strftime('%w').to_f == 6 || event.date.strftime('%w').to_f == 0 ? "weekend" : "number" %>"><%= event.date.day %></td>
            <td class="description">
              <div><a class="toggle_trigger <%= index == 0 ? "active" : ""%>"><%= event.theme %></a></div>
              <div class="<%= index == 0 ? "toggle_now" : "toggle_wrap" %>">
                <p>
                  <% # .gsub(/(?:\n\r?|\r\n?)/, '<br>') %>
                  <%=raw simple_format event.info%>
                  <%= event.image_id? ? image_tag(Image.find(event.image_id).image.url) : "" %>
                </p>
              </div>
            </td>
          </tr>

        <% end %>

      </table>

      <div id="informations">
        <p>Rencontre warrior. Clique ici ou sur le titre en bas pour pour plus d'infos.</p>
      </div>

</div>

<p><br /><br /><br /><br /><br />
 <b>L'horaire officiel :</b> <br />
      Ouverture des locaux : 19h30 <br />
      Début de la soirée : 20h00 <br />
      Fin de la soirée : 21h30 <br />
      Vidage des locaux : 23h30 <br />
      <br />
      Remarque : <b>Il en va de la responsabilité de chaque parent de venir chercher leur(s) enfant(s) entre 21h30 et 23h30</b>. Dès 23h30, chaque enfant doit être à nouveau sous la responsabilité de ses parents <br />
      <br /><br /><br /><br /><br />
    </p>

<div id="type_soirees">
<h2> Nos types de soirées </h2>

<div>
<h4>GPS</h4>
<p><a class="fancybox-button" rel="fancybox-button" href="assets/type_soirees/gps.jpg"><img src="assets/type_soirees/thumb_gps.jpg"/></a>Gentleman - il se distingue pas son bon comportement et son exemple. <br/>Passionné - il désire connaître de plus en plus Dieu. <br/>Salé - par sa différence, il a du goût et souhaite en donner en le partageant. <br/>GPS : Et moi par rapport à lui, où est-ce que je me "localise"? <br/>Les soirées GPS son orientée autour d'un personnage de la bible. Le but? S'inspirer de son comportement, connaître mieux la bible et le coeur de Dieu au travers de l'étude de sa parole.</p>
</div>

<div>
<h4>Actu</h4>
<p><a class="fancybox-button" rel="fancybox-button" href="assets/type_soirees/actu.jpg"><img src="assets/type_soirees/thumb_actu.jpg"/></a>Chercher la place de Dieu dans l'actualité de notre monde et découvrir le message de l'Evangile à travers les grands événements internationaux. Mais aussi, impliquer Dieu dans notre intimité et discuter des grands sujets présents dans la vie des jeunes. <br/>Tels sont les objectifs de ce type de soirée!</p>
</div>

<div>
<h4>Youth</h4>
<p><a class="fancybox-button" rel="fancybox-button" href="assets/type_soirees/youth.jpg"><img src="assets/type_soirees/thumb_youth.jpg"/></a>De temps à autre, tu as la possibilité et le grand privilège de donner volontairement un message pour une soirée. Ce que tu as sur le coeur, partage-le à ta manière! Tu es également soutenu par un leader qui peut t'aider pour la rpéparation.</p>
</div>

<div>
<h4>Extra</h4>
<p><a class="fancybox-button" rel="fancybox-button" href="assets/type_soirees/extra.jpg"><img src="assets/type_soirees/thumb_extra.jpg"/></a>Fun complet, ce type de soirées privilègie le partage, l'amitié en ayant des moment extraordinaires ensemble.</p>
</div>

<div>
<h4>Inter-GDJ</h4>
<p><a class="fancybox-button" rel="fancybox-button" href="assets/type_soirees/interGdj.jpg"><img src="assets/type_soirees/thumb_interGdj.jpg"/></a>A travers ces soirées nous désirons vivre des rencontres entre jeunes chrétiens de la région indépendemment des confessions... C'est avec des repas communs, des temps de louange, des enseignements forts et aussi des moments de partages et de fun que nous souhaitons nous unir et nous éclater devant notre Dieu.</p>
</div>

<div>
<h4>Event</h4>
<p><a class="fancybox-button" rel="fancybox-button" href="assets/type_soirees/event.jpg"><img src="assets/type_soirees/thumb_event.jpg"/></a>Rencontres de jeunesse chrétienne suisse, camps d'hivers, festivals... Bref, des soirées, des weekend ou voir même des semaines entières qui nous ressourcent à fond!</p>
</div>

<div>
<h4>Culte</h4>
<p><a class="fancybox-button" rel="fancybox-button" href="assets/type_soirees/culte.jpg"><img src="assets/type_soirees/thumb_culte.jpg"/></a>Tous les derniers samedis du mois à 18h00, le groupe de jeunes se joint à l'assemblée pour vivre un moment de louange et de comunion fraternelle. <br/>La soirée se termine à chaque fois avec un repas canadien et une after "freestyle"...</p>
</div>

</div>

</article>


<script>
  $(document).ready(function() {
    $(".fancybox-button").fancybox({
      prevEffect    : 'none',
      nextEffect    : 'none',
      closeBtn    : false,
      helpers   : {
        title : { type : 'inside' },
        buttons : {}
      }
    });
  });
</script>

<script type="text/javascript">
  $(document).ready(function() {
    $(".fancybox").fancybox();
  });
</script>
