<% provide(:title, 'Programme & événements Groupe de jeunes chrétien évangélique de Bulle') %>

<!-- @dates = { date => (event || nil) } -->

<h1 style="text-align:center">Programme & événements WayKUP</h1>

<article>
	<p> 
    Sur cette page tu découvriras notre programme complet des semaines à venir! 
  </p>
</article>

<div id="content">

		<%-# ==========- Title -========== -%>
    <div class="title" style="width:90%; margin:auto">
      <div class="left">
        <p><span class="discret">du </span><%= l(Date.today) %></p>
      </div>
      <div class="right">
        <p><span class="discret">au </span><%= l(@dates.keys.last) %></p>
      </div>
    </div>

    <div class="clear"></div>

    <%-# ==========- Table with loop iteration over days for timeline -========== -%>
    <table id="timeline">

    	<%-# ==========- First row -========== -%>
    	<tr class="marker">
	    	<% (Date.today..@dates.keys.last).each do |day| %>
	    		<td>
	    			<% if @dates.has_key?(day) %>
	    					<%#= link_to(image_tag("timeline/" + sort_event(event) , :class => day.day.to_s + ' b'), "#" + day.day.to_s) %>
	    			<% end %>
	    		</td>
	    	<% end %>
    	</tr>

      <%-# ==========- Second row -========== -%>
      <!--
      <tr class="date">
        <%# (Date.today..((last_date) < (date2=Date.today + 10.day) ? date2 : last_date)).each do |day| %>                    
            <td class="<%#= day.strftime('%w').to_f == 6 || day.strftime('%w').to_f == 0 ? "weekend " : "" %><%#= (day == Date.today) ? 'today ' : '' %> ">
              <%#= day.day %>
            </td>
        <%# end %>
      </tr>
      -->

  	</table>

    <%-# ==========- Table with loop iteration over days for summary -========== -%>
    <p class="subtitle">Les prochaines rencontres</p>

      <table id="summary_timeline">

        <% @dates.each_with_index do |(date, event), index| %>

          <tr class='<%= "a #{date.day}a" %>'>
            <td class="countdown">
              <span class="anchor" id="<%= date.day %>"></span>
              <%= Date.today == date ? "Aujourd'hui!" : Date.today == date.yesterday ? "Demain!" : "Dans #{time_ago_in_words(date)}" %>
            </td>
            <td class="marker"><%#= image_tag "timeline/" + sort_event(event) %></td>
            <td class="<%= date.wday == 6 || date.wday == 0 ? "weekend" : "number" %>"><%= date.day %></td>
            <td class="description">
              <div><a class="toggle_trigger <%= "active" if index == 0 %>"><%= l(date, format: :event) %></a></div>
              <div class="<%= index == 0 ? "toggle_now" : "toggle_wrap" %>">
                <p>
                  <% unless event && event.replace %>
                    <%= render 'shared/event' %>
                  <% end %>
                  <p><%= raw simple_format(event.try(:content), {}, sanitize: false) %></p>
                  <span class="perma_link">permalink: <%= link_to "event n° #{event.id}", event_path(event) if event %></span>
                </p>
              </div>
            </td>
          </tr>

        <% end %>

      </table>

      <div id="informations">
        <p>Rencontre warrior. Clique ici ou sur le titre en bas pour pour plus d'infos.</p>
      </div>
</div>

<p>
  <b>L'horaire officiel :</b>
  Ouverture : dès 20h <br>
  Fin de la soirée : 22h00 <br>
  Vidage des locaux : 23h30 <br>
  <br>
  Remarque : <b>Il en va de la responsabilité de chaque parent de venir chercher leur(s) enfant(s) entre 22h00 et 23h30</b>. Au plus tard à 23h30, chaque enfant doit en effet être à nouveau sous la responsabilité de ses parents. <br>
</p>