<% @title = 'Admin' %>

<%= link_to 'Home', root_path %>/
<%= link_to 'Admin', admin_path %>/
<%= link_to 'News', admin_news_path %>

<%= render '/shared/flash', flash: flash %>

<h1>News:</h1>

<p><%= link_to "Ajouter une new", new_new_path %>

<ul>
<% @news.each do |new| %>
	<li>
		<%= new.title %>
		<!-- <%= link_to new.title.capitalize, edit_new_path(new) %> -->
		| <%= link_to "Supprimer", new_path(new), method: :delete, confirm: "Etes-vous sûr de vouloir supprimmer cette news?" %>
	</li>
<% end %>
<ul>