<%= form_for [:admin, @project] do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <ul>
  	<li>
  		<%= f.label :name %>
  		<%= f.text_field :name %>
  	</li>
  	<li>
  		<%= f.label :content %>
  		<%= f.text_area :content %>
  	</li>
  </ul>

    <ul><li><%= f.submit %></li></ul>

<% end %>