<% @title = 'Admin' %>

<%= link_to 'Home', root_path %>/
<%= link_to 'Admin', admin_path %>/
<%= link_to 'Projet', admin_projects_path %>

<%= render '/shared/flash', flash: flash %>

<h1>Projets:</h1>

<p><%= link_to "Créer un projet", new_admin_project_path, class: "w8-button red", id: 'w8-red' %></p>

<h2>Projets</h2>

<%= render partial: "shared/admin_render", locals: { arrayi: @projects} %>
