<%= link_to 'Home', root_path %>/
<%= link_to 'Admin', admin_path %>/
<%= link_to 'Projet', admin_projects_path %>/
<%= link_to 'Nouveau', new_admin_project_path %>

<h1>Créer un projet:</h1>

<%= form_for [:admin, @project] do |f| %>

	<%= render 'fields', f: f %>

	<table><tr><td>Ajouter le projet</td><td><%= f.submit "Ajouter", class: "w8-button l-blue" %></td></tr></table>
<% end %>