<% @title = 'Admin' %>

<%= link_to 'Home', root_path %>/
<%= link_to 'Admin', admin_path %>

<h1>Administration</h1>

<ul>
	<li><%= link_to "Utilisateurs", users_path %></li>
	<li><%= link_to "Contenu du site", pages_path %></li>
	<li><%= link_to "News", news_path %></li>
	<li><%= link_to "Programme", admin_programme_path %></li>
	<li><%= link_to "Galleries", galleries_path %></li>
	<li><%= link_to "Projets", projets_path %></li>
</ul>