<% @title = 'Acceuil' %>

<h1 class="index">Bienvenue sur le site du <strong>groupe de jeunes</strong> <strong>WAY</strong> à Bulle</h1>

<%-# ==========- HEADER -========== -%>
<%= render 'layouts/header' %>

<article>
	<h2 class="home" style="padding-top:40px">Prochaine soirée <a href="rssfeed/flux.xml"><img src="/assets/layout/rss.jpeg" alt="RSS" title="RSS" width="30" height="27" /></a></h2>
	<div class="nextevent">
		<p> La prochaine soirée! </p> 
	</div>
</article>

<div id="text-fb">
	<article class="left">
	   
	<h3><%= @presentation.title %></h3>
    <p><%=raw @presentation.content %></p>
	  <br />
	  <div class="fb">
	    <div class="fb-like" data-href="http://gdjway.com" data-send="false" data-width="450" data-show-faces="true" data-font="arial"></div>
      <p>Retrouve-nous sur notre page Facebook<a href="https://www.facebook.com/groups/206372632235/"><img class="fb" src="assets/utils/facebook_logo.jpg" alt="Logo Facebook"/></a></p>
	  </div>
	</article>

	<article class="right">
    <h3>Photos aléatoires</h3>
    <table>
    	<tr style="vertical-align:bottom; text-align:center">
    		<td>
    			<p style="margin-bottom:20px">Journée neurone - octobre 2012 </p>
    			<div class="picsLoop" style="margin:auto">
    			</div>
    		</td>
    		<td>
    			<p style="margin-bottom:20px">Repas communautaire et soirée inter-gdj.</p>
    			<div class="picsLoop" style="margin:auto">
    			</div>
    		</td>
    		<td>
    			<p style="margin-bottom:20px">Repas communautaire et soirée inter-gdj.</p>
    			<div class="picsLoop" style="margin:auto">
    			</div>
    		</td>
    	</tr>
    </table>
    <p class="pict">Retrouves toutes les autres photos <%= link_to "ici", galleries_path %></p>
  </article>
  <p class="clear"></p>

</div>
<div class="clear"></div>

<div id="news-events">
	<h2 class="home">News/Events <a href="rssfeed/flux.xml"><img src="assets/layout/rss.jpeg" alt="RSS" title="RSS" width="30" height="27" /></a></h2>
	<article class="left">

    <h3>News (<%= @news.count %>)</h3>
    <% if @news.any? %>
    <%= render @news %>
    <% end %>
    
  </article>

  <article class="right">
      <h3>Events</h3>
      <div>
  </article>
</div>
<div class="clear"></div>


