<% provide(:title, 'Groupe de jeunes chrétien évangélique de Bulle') %>
<% content_for :slider do %>
  <!-- Jssor Slider Begin -->
  <div id="slider">
    <!-- Loading Screen -->
    <div u="loading" style="position: absolute; top: 0px; left: 0px;">
      <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block;
          top: 0px; left: 0px; width: 100%; height: 100%;">
      </div>
      <div style="position: absolute; display: block; background: image-url(slider/loading.gif) no-repeat center center;
          top: 0px; left: 0px; width: 100%; height: 100%;">
      </div>
    </div>
    <!-- Slides Container -->
    <div class="slides" u="slides">
      <% if @slideshows.any? %>
        <% @slideshows.each do |slide| %>
          <div>
            <img u="image" src="<%= slide.image.url %>" >
          </div>
        <% end %>
      <% else %>
        <div>
          <img u="image" src="<%= asset_path 'utils/default_slide.jpg' %>" >
        </div>
      <% end %>
    </div>
    <!-- bullet navigator container -->
    <div u="navigator" class="jssorb21">
        <!-- bullet navigator item prototype -->
        <div u="prototype"></div>
    </div>
    <!-- Arrow Left -->
    <span u="arrowleft" class="jssora21l">
    </span>
    <!-- Arrow Right -->
    <span u="arrowright" class="jssora21r">
    </span>
  </div>
  <style type="text/css">
    div#container {
      margin: 20px auto;
    }
  </style>
<% end %>

<article>
	<h2 class="home" style="padding-top:40px">Prochain événement</h2>
	<div class="nextevent">
    <p><%= @date %></p>
    <p>
      <% unless @event && @event.replace %>
        Texte
      <% end %>
      <%= @event.try(:content) %>
    </p>
	</div>

</article>

<div class="clear"></div>

<div id="presentation">

	<article class="left">
	<h3 id="page_title"><%= raw @presentation.title %></h3>
    <div>
      <p>
        <div id="page_content"><%= raw @presentation.content.html_safe %></div>
      </p>
    </div>
	</article>
  <article class="middle"></article>
	<article class="right">
    <h3>Les dernières galleries</h3>
    <table class="home_galery">
      <tr>
        <% @galleries.each do |gallery| %> 
        <td>
          <p class="gallery_txt"><%= gallery.name %></p>
          <div class="image_container"><p><%= (image = gallery.paintings.last) != nil ? link_to(image_tag(image.image_url(:thumb), class: 'nice_pic'), gallery) : "*pas d'images*" %></p></div>
        </td>
        <% end %>
    	</tr>
    </table>
    <p class="pict">Retrouves toutes les autres photos <%= link_to "ici", galleries_path %></p>
  </article>
  <p class="clear"></p>

</div>

<div class="clear"></div>

<div id="news">
	<h2 class="home">News (<%= @news.count %>) </h2>
	<article>

    <% if @news.any? %>
      <%= render @news %>
    <% else %>
      <div><p>Pas de news pour le moment</p></div>
    <% end %>
    
  </article>

</div>
<div class="clear"></div>

<script type="text/javascript">
$(function(){
  init_slider();
});
</script>