<% @title = 'Admin' %>

<%= link_to 'Home', root_path %>/
<%= link_to 'Admin', admin_path %>/
<%= link_to 'Projet', projets_path %>/
<%= link_to 'Nouveau', new_project_path %>

<h1>Créer un projet:</h1>

<%= form_for @project do |f| %>

	<%= render 'fields', f: f %>

	<%= f.submit "Créer" %>

<% end %>