<% @title = 'Gallery | add' %>

<%= link_to 'Home', root_path %>/
<%= link_to 'Admin', admin_path %>/
<%= link_to 'Galleries', admin_galleries_path %>/
<%= link_to 'Editer', edit_admin_gallery_path(@painting.gallery_id) %>

<h1>Ajouter des images:</h1>

<%= form_for(@painting, url: admin_gallery_paintings_path, :html => {:multipart => true}) do |f| %>
	
	<%= f.hidden_field :gallery_id %>
  
  <%= f.label :image, "Upload paintings:" %>
  <%= f.file_field :image, multiple: true, name: "painting[image]" %>
<% end %>


<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>