<%= form_for [:admin, @gallery, @painting], :remote => true do |f| %>

	<%= render 'shared/error_messages', object: f.object %>

	<h1>Upload Gallery Photos:	<%= @gallery.name %></h1>
	<p id="notice"><%= notice %></p>

		Téléverser des images:
		<input id="fileupload" type="file" name="painting[image]" multiple>
		<div id="progress">
    	<div class="bar" style="width: 0%;"></div>
		</div>
		<script>
		
		$(function () {
		    $('#fileupload').fileupload({
		    		acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
		        dataType: 'json',
		        url: '<%= admin_gallery_paintings_path(@gallery.id) %>',
		        done: function (e, data) {
		            $.each(data.result, function (index, file) { 
		               $('<img style="float:left" src="'+file.thumbnail_url+'">').appendTo('#thumbs');
		            });
		        },
		        progressall: function (e, data) {
				        var progress = parseInt(data.loaded / data.total * 100, 10);
				        $('#progress .bar').css(
				            'width',
				            progress + '%'
				        );
				    }
				});
		});
		</script>
	
		<div id="thumbs" class="cf">
	<!-- json-ajax response here, see fileupload script above, .appendTo css id:"thumbs"-->
		</div>

<div class="clear">
</div>

<% end %>