<%= link_to 'Home', root_path %>/
<%= link_to 'Admin', admin_path %>/
<%= link_to 'Slideshows', admin_slideshows_path %>/
<%= link_to 'Editer', edit_admin_slideshow_path %>

<h1>Editer un slideshow:</h1>

<%= form_for [:admin, @slideshow] do |f| %>

	<%= render 'fields', f: f %>

	<label>Image</label>
	<%= image_tag @slideshow.image.url %>
	
	<%= f.submit "Ajouter" %>

<% end %>