<%= link_to 'Home', root_path %>/
<%= link_to 'Admin', admin_path %>/
<%= link_to 'Slideshows', admin_slideshows_path %>

<h1>Slideshows:</h1>

<p><%= link_to "Ajouter un slideshow", new_admin_slideshow_path, class: "w8-button red", id: 'w8-red' %></p>

<h2>Slideshows</h2>

<div id="admin_table">
	<%= present @table %>
</div>