<%= link_to 'Home', root_path %>/
<%= link_to 'Admin', admin_path %>/
<%= link_to 'Slideshows', admin_slideshows_path %>/
<%= link_to 'Nouveau', new_admin_slideshow_path %>

<h1>Ajouter un slideshow:</h1>

<%= form_for [:admin, @slideshow] do |f| %>

	<%= render 'fields', f: f %>
	
	<%= f.submit "Ajouter" %>

<% end %>