<% provide(:title, 'Inscription') %>

<h2>Inscriptions</h2>

<%= form_for @form do |f| %>

	<table>
		<%= render 'shared/error_messages', object: f.object %>
		<tr>
			<td><%= f.label :first_name %></td>
			<td><%= f.text_field :first_name %></td>
		</tr>
		<tr>
			<td><%= f.label :last_name %></td>
			<td><%= f.text_field :last_name %></td>
		</tr>
		<tr>
			<td><%= f.label :phone %></td>
			<td><%= f.text_field :phone %></td>
		</tr>
		<tr>
			<td><%= f.label :notice %></td>
			<td><%= f.text_area :notice %></td>
		</tr>
		<tr>
			<td>Envoyer</td>
			<td><%= f.submit "Envoyer" %></td>
		</tr>
	</table>

<% end %>