<div style="width:100%; text-align:center">
	<%= form_for(:gallery, url: galleries_path) do |f| %>
		<%= f.label(:key, "Entrez la clef pour voir la gallerie") %><br>
		<%= f.password_field(:key, placeholder: 'entrez la clef...') %>
		<%= f.hidden_field(:id) %>
		<span class="a"><%= f.submit("Login") %></span>
	<% end %>
</div>
<style type="text/css">
	input {
		padding: 10px;
		margin: 10px;
	}
	.a input {
		padding: 10px;
	}
</style>