<% @title = 'Admin' %>

<%= link_to 'Home', root_path %>/
<%= link_to 'Admin', admin_path %>/
<%= link_to 'Galleries', galleries_path %>/
<%= link_to 'Editer', edit_gallery_path(@gallery) %>

<h1>Editer une gallerie:</h1>

<p><%= link_to "Ajouter des images", new_gallery_painting_path(@gallery) %></p>

<%= form_for @gallery do |f| %>

	<%= render 'fields', f: f %>

	<%= f.submit 'Editer' %>

<% end %>