<% provide(:title, 'Galleries') %>
<% provide(:h1_title, 'Galleries Photos événements') %>

<h2>Photos</h2>

<div id="gallery">
	<table>
		<% @galleries.each_slice(2) do |slice_gallerie| %>
			<tr>
				<td class="left">
					<table>
						<tr>
							<td class="text">
								<p>
									<%= slice_gallerie[0].name %> <sup style="font-size:10px"> le <%= slice_gallerie[0].date %> </sup>
								</p>
								<p class="description">
									<%= slice_gallerie[0].description %>
								</p>
							</td>
							<td>
								<div class="image_container">
									<p><%= (image=slice_gallerie[0].paintings.first) ? link_to(image_tag(image.image_url(:thumb), class: 'nice_pic'), slice_gallerie[0]) : "*pad d'images*" %></p>
								</div>
							</td>
						</tr>
					</table>
				</td>
				<% if slice_gallerie.length > 1 %>
					<td class="right">
						<table>
							<tr>
								<td>
									<div class="image_container">
										<p><%= (image=slice_gallerie[1].paintings.first) ? link_to(image_tag(image.image_url(:thumb), class: 'nice_pic'), slice_gallerie[1]) : "*pas d'images*" %></p>
									</div>
								</td>
								<td class="text">
									<p>
										<%= slice_gallerie[1].name %> <sup style="font-size:10px"> le <%= slice_gallerie[1].date %> </sup>
									</p>
									<p class="description">
										<%= slice_gallerie[1].description %>
									</p>
								</td>
							</tr>
						</table>
					</td>
				<% end %>
			</tr>
		<% end %>
	</table>
	<div class="will_paginate"><p><%= will_paginate(@galleries, previous_label: 'Précédent', next_label: 'Suivant') %></p></div>
</div>
