<% @title = @gallery.name %>

<h1><%= @gallery.name %></h1>
<h2><%= @gallery.description %></h2>

<% @gallery.paintings.each do |painting| %>
	
	<a class="fancybox-button" rel="fancybox-button" href="<%= painting.image_url %>" title="<%= painting.name %>">
	<img src="<%= painting.image_url(:thumb) %>" alt="" />
	</a>

<% end %>

<script>
	$(document).ready(function() {
		$(".fancybox-button").fancybox({
			prevEffect		: 'none',
			nextEffect		: 'none',
			closeBtn		: false,
			helpers		: {
				title	: { type : 'inside' },
				buttons	: {}
			}
		});
	});
</script>

<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>