<% @title = @gallery.name %>

<h2><%= @gallery.name %></h2>
<div id="gallery_show">
<p class="description"><%= @gallery.description %></p>

<div class="photos">
	<p>
	<% @gallery.paintings.each do |painting| %>
		
		<a class="fancybox-button" rel="fancybox-button" href="<%= painting.image_url %>" title="<%= painting.name %>">
		<img src="<%= painting.image_url(:thumb) %>" alt="" />
		</a>

	<% end %>
	</p>
</div>
<script>
	$(document).ready(function() {
		$(".fancybox-button").fancybox({
			prevEffect		: 'none',
			nextEffect		: 'none',
			closeBtn		: false,
			helpers		: {
				title	: { type : 'inside' },
				buttons	: {}
			}
		});
	});
</script>

<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>
</div>