<%= link_to 'Home', root_path %>/
<%= link_to 'Admin', admin_path %>/

<h1>Editer</h1>

<%= form_for [:admin, @user] do |f| %>
	
	<%= render 'fields', f: f %>
	
	<table><tr><td>Editer l'utilisateur</td><td><%= f.submit "Enregistrer les modifications", class: 'w8-button l-blue' %></td></tr></table>

<% end %> 