<%= link_to 'Home', root_path %>/
<%= link_to 'Admin', admin_path %>/

<%= render '/shared/flash', flash: flash %>

<h1>Editer</h1>

<%= form_for [:admin, @user] do |f| %>
	
	<%= render 'fields', f: f %>
	<%= f.submit "Editer" %>

<% end %> 