<%= link_to 'Home', root_path %>/
<%= link_to 'Admin', admin_path %>/
<%= link_to 'Utilisateurs', admin_users_path %>

<%= render '/shared/flash', flash: flash %>

<h1>Utilisateurs:</h1>

<p><%= link_to "Ajouter un utilisateur", new_admin_user_path, class: "w8-button red", id: 'w8-red' %></p>

<h2>Utilisateur</h2>

<%= render :partial => "shared/admin_render", locals: { :arrayi => @users} || "Pas d'élément à afficher" %>