<% @title = 'Admin' %>

<%= link_to 'Home', root_path %>/
<%= link_to 'Admin', admin_path %>/
<%= link_to 'Utilisateurs', admin_users_path %>

<h1>Utilisateurs:</h1>

<p><%= link_to "Ajouter un utilisateur", new_admin_user_path %></p>
<p><%= link_to "Editer mon profile", edit_admin_user_path(@current_user) %><p>

<h2>Utilisateur</h2>

<%= render :partial => "shared/admin_render", locals: { :arrayi => @users} || "Pas d'élément à afficher" %>