<%= link_to 'Home', root_path %>/
<%= link_to 'Admin', admin_path %>/
<%= link_to 'Utilisateurs', admin_users_path %>/
<%= link_to 'Nouveau', new_admin_user_path %>

<h1>Ajouter un admin:</h1>

<%= form_for [:admin, @user] do |f| %>

	<%= render 'fields', f: f %>

	<%= f.label :level_id %></td>
	<%= f.collection_select(:level_id, Level.all, :id, :name) %>
	
	<table><tr><td>Ajouter l'utilisateur</td><td><%= f.submit "Ajouter", class: "w8-button l-blue" %></td></tr></table>

<% end %>