<div id="nav-container">
	<nav>
	  <ul class="topnav">
	  	<li style=""><%= link_to(image_tag("/assets/header/logo.png"), root_path, class: (current_page?(root_path)? 'head_logo selected' : 'head_logo')) %></li>
	    <li><%= link_to "Présentation", presentation_path, class: (current_page?(presentation_path)? 'selected' : '') %></li>
	    <li class="submenu"><a class="<%= (current_page?(projects_path)? 'selected' : '') %>" href="/activites">Activités <img src="/assets/header/drop.png"></a>
	    	<ul>
			    <% Project.all.each do |project| %>
			    <li><%= link_to project.name , "/activites#" + project.name, class: (current_page?(project_path(project))? 'selected' : '') %></li>
			    <% end %>
		  	</ul>
		  </li>
	    <li><%= link_to "Programme", programme_path, class: (current_page?(programme_path)? 'selected' : '') %></li>
	    <li><%= link_to "Medias", galleries_path, class: (current_page?(galleries_path)? 'selected' : '') %></li>
	    <li><%= link_to "Contact", contact_path, class: (current_page?(contact_path)? 'selected' : '') %></li>
	  </ul>
	</nav>
</div>