<header>
	<p>Bienvenue sur le site du groupe de jeune WAY à Bulle</p>
	<%= link_to "Home", '#' %>
	<%= link_to "Vision", '#' %>
	<%= link_to "Programme", '#' %>
	<%= link_to "Medias", '#' %>
	<%= link_to "Projet", '#' %>
	<%= link_to "Contact", '#' %>
</header>