  <!DOCTYPE html>
<html>
<head>
  <title>GDJ Way - Admin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="/favicon.ico" />

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38967567-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

	</script>

</head>
<body>
	<% store_location %>
	<div id="container">
    
    <%-# ==========- FLASH -========== -%>
    
    <%= render 'layouts/flash', flash: flash %>

		<%-# ==========- CONTENT FROM THE VIEW -========== -%>
		<%= yield %>

		<%-# ==========- FOOTER -========== -%>
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
