<!DOCTYPE html>
<html>
  <head>
    <title>WaykUP - <%= yield(:title) %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    
    <%= render 'layouts/favicon' %>
  </head>
  <body>
    <%= render 'layouts/header' %>

    <%= yield :slider %>
    
  	<div id="container">

      <%-# ==========- FLASH -========== -%>
      
      <%= render 'layouts/flash', flash: flash %>

  		<%-# ==========- CONTENT FROM THE VIEW -========== -%>
  		<%= yield %>

  		<%-# ==========- FOOTER -========== -%>
  		<%= render 'layouts/footer' %>

  	</div>

  </body>
</html>
